body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    color: rgb(24, 58, 162);
    font-size: 40px;
    margin: 35px;
}

.oc {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.hw {
    width: 50%;
    padding-left: 7%;

}

.hw img {
    width: 85%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 8px 43px;
    border: 7%;
    color: white;
    font-size: 250%;
    border-radius: 40px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.ei {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 22px;
    border-radius: 6px;
    box-shadow: 10px 10px 35px green;
    border-left: 5px pink;

}

h3 {
    color: rgb(170, 56, 15);
}

.Muslim area {
    background-image: url(images/exp-bg.png);
}

.hh {
    color: darkgoldenrod;
}

.hj {
    color: royalblue;
}

.hk {
    color: rgb(21, 165, 151);
}

#wde {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}

b {
    color: red;
    margin-left: 40px;

}

h2 {
    font-size: 27px;
    color: rgb(233, 134, 13);
}